---

---

<div class="w-full flex-col items-center justify-center mt-4" id="login-form">
  <div id="notification" class="relative hidden">
    <div class="flex flex-row items-center justify-center gap-2 p-1 pl-6 bg-red-500 text-white rounded-lg w-full">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" viewBox="0 0 24 24" class="text-xl">
        <path
          fill="currentColor"
          d="M20 12a8 8 0 0 0-8-8a8 8 0 0 0-8 8a8 8 0 0 0 8 8a8 8 0 0 0 8-8m2 0a10 10 0 0 1-10 10A10 10 0 0 1 2 12A10 10 0 0 1 12 2a10 10 0 0 1 10 10m-6.5-4c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5M10 9.5c0 .8-.7 1.5-1.5 1.5S7 10.3 7 9.5S7.7 8 8.5 8s1.5.7 1.5 1.5m2 4.5c1.75 0 3.29.72 4.19 1.81l-1.42 1.42C14.32 16.5 13.25 16 12 16s-2.32.5-2.77 1.23l-1.42-1.42C8.71 14.72 10.25 14 12 14"
        >
        </path>
      </svg>
      <p class="w-full font-sans text-xs py-3">
        Usuario y/o contraseña incorrectos. <br />Inténtalo de nuevo.
      </p>
      <svg id="cerrarNotification" xmlns="http://www.w3.org/2000/svg" class="icon cross absolute top-2 right-1 hover:cursor-pointer" width="1.5em" height="1.5em" viewBox="0 0 20 20">
        <path fill="currentColor" d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15l-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152l2.758 3.15a1.2 1.2 0 0 1 0 1.698"></path>
      </svg>
    </div>
  </div>
  <div class="w-full flex flex-col items-start justify-center gap-1 mt-6">
    <label for="email" class="font-sans text-lg text-slate-900">Email</label>
    <input class="w-full h-10 border-2 border-gray-400 rounded p-3 text-slate-900" type="email" name="email" id="email" required />
  </div>
  <div class="w-full flex flex-col items-start justify-center gap-1 mt-6">
    <label class="font-sans text-lg text-slate-900" for="password">Contraseña</label>
    <input class="w-full h-10 border-2 border-gray-400 rounded p-3 text-slate-900" type="password" name="password" id="password" required />
  </div>
  <button class="w-full h-10 mt-8 bg-blue-400 hover:cursor-pointer hover:bg-blue-500" id="form-button" name="submit">Iniciar sesión</button>
</div>

<script>
  import axios from 'axios';
  import Toastify from 'toastify-js';
  function showLoadingScreen() {
    const loadingScreen = document.getElementById('loading-screen');
    loadingScreen.classList.remove('hidden');
  }
  document.addEventListener('DOMContentLoaded', function () {
    const formButton = document.getElementById('form-button');
    const cerrarNotification = document.getElementById('cerrarNotification');
    formButton.addEventListener('click', function (event) {
      event.preventDefault();
      event.stopPropagation();
      login();
    });
    cerrarNotification.addEventListener('click', function (event) {
      event.stopPropagation(); // Stop event propagation to parent elements
      const notification = document.getElementById('notification');
      notification.classList.add('hidden');
      notification.classList.remove('flex');
    });

    //Function to retrieve cookies from browser using javascript
    function getCookies() {
      let cookies = {};
      let allCookies = document.cookie;
      if (allCookies === '') {
        return cookies;
      }

      let cookieArray = allCookies.split(';');
      for (let cookie of cookieArray) {
        let [name, value] = cookie.split('=');
        name = name.trim();
        value = value ? value.trim() : '';
        cookies[name] = decodeURIComponent(value);
      }
      return cookies;
    }

    function getCookieByName(name) {
      let cookies = getCookies();
      return cookies[name] || null;
    }

    function login() {
      const email = document.getElementById('email').value;
      const contra = document.getElementById('password').value;

      axios
        .get('http://localhost:8000/backend/auth/auth.php', {
          withCredentials: true,
          params: {
            email: email,
            password: contra,
          },
        })
        .then(function (response) {
          console.log(response.data);
          if (response.data.success === true) {
            //Get cookie userID value and console log it
            axios
              .get('http://localhost:8000/backend/auth/checkActiveSession.php', {
                withCredentials: true,
              })
              .then(function (response) {
                console.log(response.data);
                if (response.data.success === false) {
                  axios
                    .get('http://localhost:8000/backend/auth/login.php', {
                      withCredentials: true,
                    })
                    .then(function (response) {
                      console.log(response.data);
                      if (response.data.success === true) {
                        Toastify({
                          text: 'Sesión inciada.',
                          duration: 2500,
                          destination: 'https://github.com/apvarun/toastify-js',
                          newWindow: true,
                          close: false,
                          gravity: 'top', // `top` or `bottom`
                          position: 'center', // `left`, `center` or `right`
                          stopOnFocus: true, // Prevents dismissing of toast on hover
                          style: {
                            borderRadius: '10px',
                            backgroundImage: 'linear-gradient(to right bottom, #00603c, #006f39, #007d31, #008b24, #069903)',
                            textAlign: 'center',
                          },
                          onClick: function () {}, // Callback after click
                        }).showToast();
                        window.location.href = '/home';
                      }
                    })
                    .catch(function (error) {
                      console.log(error);
                    });
                } else {
                  Toastify({
                    text: 'Sesión activa en otro dispositivo.',
                    duration: 2500,
                    destination: 'https://github.com/apvarun/toastify-js',
                    newWindow: true,
                    close: false,
                    gravity: 'top', // `top` or `bottom`
                    position: 'center', // `left`, `center` or `right`
                    stopOnFocus: true, // Prevents dismissing of toast on hover
                    style: {
                      borderRadius: '10px',
                      backgroundImage: 'linear-gradient(to right top, #c62828, #b92125, #ac1a22, #a0131f, #930b1c)',
                      textAlign: 'center',
                    },
                    onClick: function () {}, // Callback after click
                  }).showToast();
                }
              })
              .catch(function (error) {
                console.log(error);
              });
          } else {
            Toastify({
              text: 'Usuario o contraseña incorrectos.',
              duration: 2500,
              destination: 'https://github.com/apvarun/toastify-js',
              newWindow: true,
              close: false,
              gravity: 'top', // `top` or `bottom`
              position: 'center', // `left`, `center` or `right`
              stopOnFocus: true, // Prevents dismissing of toast on hover
              style: {
                borderRadius: '10px',
                backgroundImage: 'linear-gradient(to right top, #c62828, #b92125, #ac1a22, #a0131f, #930b1c)',
                textAlign: 'center',
              },
              onClick: function () {}, // Callback after click
            }).showToast();
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  });
</script>
